/* Application-wide Styles */
h1 {
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 250%;

}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #888;
  font-family: Cambria, Georgia;
  background-color: #ffffff;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
